* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background: #27292d;
    display: grid;
    height: 100vh;
    place-items: center;
    width: 100%;
}

.container_slider {
    height: 500px;
    width: 500px;
    background: #161819;
    border-radius: 10px;
    display: grid;
    place-items: center;
    position: relative;
}

.slider_buttons {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

.button {
    height: 50px;
    /* background: #393d45; */
    background: transparent;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: relative;
    width: 50px;
    z-index: 0;
}

.button:before {
    background: #555962;
    border-radius: 50%;
    content: '';
    height: 100%;
    opacity: 0;
    position: absolute;
    transform: scale(.5);
    transition: .2s ease;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}

.button:hover:before {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.button i {
    color: #fff;
    font-size: 24px;
}

