/* :root {
    --bg--container: #ff552c;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background: #27292d;
    display: grid;
    height: 100vh;
    place-items: center;
    width: 100%;
}

.container_slider {
    height: 500px;
    width: 500px;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 0;
}

.container_slider:before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: var(--bg--container);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(60px);
    z-index: -1;
}

.container_slider:after {
    background: rgba(22, 24, 25, .2);
    backdrop-filter: blur(60px);
    border: 2px solid rgba(255,255,255,.03);
    border-radius: 10px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.slider_buttons {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

.button {
    /* background: #393d45; */
    background: transparent;
    border: none;
    border-radius: 50%;
    display: grid;
    height: 50px;
    place-items: center;
    position: relative;
    width: 50px;
    z-index: 0;
}

.button:before {
    background: #555962;
    border-radius: 50%;
    content: '';
    height: 100%;
    opacity: 0;
    position: absolute;
    transform: scale(.5);
    transition: .2s ease;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}

.button:hover:before {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.button i {
    color: #fff;
    font-size: 24px;
}

